/* Make a ColorTheme */
:root{
  --darker_text_color: #252528;
  --brighter_text_color: #ffffff;
  --first_background_color: #d1d1d1;
  --second_background_color: #ffffff;
  --theme-color: white;
  --footer_color: #28232f;
  --main_color: #7a2bca;
  --accent_color: #15b781;
  --error_color: #db371a;
  --lightbox_width: 445px;
}

html{
  scroll-behavior: smooth;
}

body,html{
  height: 100%;
}

body{
  font-family: OpenSans;
  font-weight: 400;
  margin:0px;
  padding:0px;
  color:var(--darker_text_color);
  background-image: url("../img/pokemon_background.png");

}

section{
  padding: 0px 0px;
}

footer{
  background: var(--footer_color);
  color:var(--brighter_text_color);
  padding: 64px 24px;
}

h1{
  padding-top: 32px;
  padding-bottom: 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  color:var(--main_color);
}

h2{
  padding-top: 32px;
  padding-bottom: 10px;
  color:var(--accent_color);
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h3{
  padding-top: 16px;
  padding-bottom: 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h4{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h5{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h6{
  padding-top: 10px;
  padding-bottom: 10px;
  color:var(--error_color);
  margin-block-start: 0px;
  margin-block-end: 0px;
}

p{
  margin-block-start: 0px;
  margin-block-end: 0px;
}

header{
  position: fixed;
  width: 100%;
  z-index: 50;
}

hr{
  margin: 24px 0px;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  height: 1px;
  background: linear-gradient(270deg, rgba(138,175,208,0) 0%, rgba(138,175,208,1) 20%, rgba(138,175,208,1) 81%, rgba(138,175,208,0) 100%);
  border: none;
}

.main_wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content_wrapper{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

.headarea{
  position: relative;
  width: 100%;
  display: flex;
  height: 72px;
  background-color: white;
  border-radius: 0px 0px 15px 15px;
  filter: drop-shadow(0px 5px 3px rgba(125,125,255,0.35));
  justify-content: space-around;
  align-items: center;
  overflow: hidden;

}

.background{
  user-select: none;
  filter: invert(8%);
  position: absolute;
  right: 0px;
  height: 250px;
  top: -150px;
}

.logo img{
  user-select: none;
  height: 48px;
}

#pokeSearch{
  z-index: 57;
  color: rgb(135,135,170);
  height: 40px;
  width: 275px;
  font-size: 18px;
  padding-left: 12px;
  border-radius: 12px;
  border: 2px solid rgb(175,175,175);
  position: relative;
}

#pokeSearch::placeholder{
  opacity: 0.25;
}

#pokeSearch:focus{
  outline: none;
  border: 2px solid #c12727;
  color: #252528;
}

.seachbar{
  align-items: center;
  display: flex;
}

.icon{ 
  user-select: none;
  z-index: 56;
  user-select: none;
  margin-right: 12px;
  margin-left: 24px;
  height: 26px;
  width: 26px;
}


.icon img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.legende{
  font-weight: 600;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fgrow{
  flex-grow:1;
}


#content{
  width: 95%;
  margin: 72px 0px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 25px;
}


#content section{
  width: 100%;
  max-width: 400px;
  position: relative;
}

.button{
  cursor: pointer;
  max-width: 200px;
  border-radius: 8px;
  font-weight: 600;
  text-align: center;
  background-color: var(--main_color);
  padding: 8px 16px;
  color: white;
  transition: transform 0.25ms ease-in-out;
}

.button:hover{
  text-decoration: underline;
  transform: scale(1.05);
  transition: transform 0.25ms ease-in-out;
}

.pokemonCard{
  min-height: 200px;
  padding: 16px;
  border-radius: 25px;
  margin-bottom: 35px;
  filter: drop-shadow(0px 5px 3px rgba(125,125,255,0.35));
  transition: transform 0.15s ease-in-out;
}

.pokemonCard img{
  user-select: none;
  position: absolute;
  right: 0px;
  height: auto;
  max-height: 175px;
  bottom: 35px;
  opacity: 0.10;
}

.pokemonCard:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.15s ease-in-out;
}

.pokemonCardId{
  position: absolute;
  top: 0px;
  right: 16px;
  color: rgba(0,0,75,0.1);
  font-weight: 800;
  font-size: 35px;
}

.card_image{
  user-select: none;
  position: absolute;
  right: 0px;
  height: 150px;
  width: 150px;
  transform: translateY(65px);
}

.card_image img {
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.pokemonCardName{
  z-index: 3;
  position: absolute;
  top: 26px;
  font-weight: 600;
  color: white;
  font-size: 32px;
}

.pokemonCardType ul{
  position: absolute;
  top: 60px;
  left: -10px;
  list-style: none;
}

.pokemonCardType li{
  margin: 8px 0px;
  padding: 5px;
  min-width: 75px;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.pokemonCardMenu{
  cursor: default;
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 10;
  background-color: white;
  min-height: 60px;
  transform: translate(0px,176px);
  left: 0px;
  border-radius: 12px 12px 12px 12px;
  filter: drop-shadow(0px -3px 2px rgba(0,0,255,0.05));
}

.pokemonCardMenu ul{
  list-style: none;
  display: flex;
  align-items: flex-start;
}

.team{
  position: absolute;
  right: 24px;
  bottom: 15px;
  height: 26px;
  width: 26px;
}

.team img{
  bottom: 0;
  width: 26px;
  height: 26px;;
  object-fit: contain;
  object-position: center;
}

.team:hover img{
  cursor: pointer;
  transform: scale(1.15);
}

.sound{
  position: absolute;
  right: 122px;
  bottom: 15px;
  height: 52px;
  width: 26px;
}

.sound:hover img{
  cursor: pointer;
  transform: scale(1.15);
}

.sound img{
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
 }

.fav{
  position: absolute;
  right: 72px;
  bottom: -20px;
  height: 26px;
  width: 26px;
}


.fav img:hover{
  cursor: pointer;
  transform: scale(1.15);
}

.fav img{
 width: 100%;
 height: 100%;
 object-fit: contain;
 object-position: center;
}

.audio img{
  position: absolute;
  bottom: 14px;
  right: 119px;
  width: 27px;
  height: 27px;
  object-position: center;
  object-fit: contain;
}

.audio img:hover{
  cursor: pointer;
  transform: scale(1.15);
}

.menu_icon{
  opacity: 0.20;
  position: absolute;
  bottom: -20px;
  left:24px;
  height: 26px;
  width: 26px;
}

.menu_icon img{
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}

.pokemonCardMenu img{
  opacity: 1;
}

.green{
  background: linear-gradient(0deg, #44d5b0 0%, #7de8cd 100%);
} 

.red{
  background: linear-gradient(0deg, #d73757 0%, #e26981 100%);
} 

.cyan{
  background: linear-gradient(0deg, #10bac6 0%, #9ef9ff 100%);
} 

.purble{
  background: linear-gradient(0deg, #7636c4 0%, #ac50ea 100%);
} 

.grey{
  background: linear-gradient(0deg, #6a7281 0%, #d3d9e4 100%);
} 

.pink{
  background: linear-gradient(0deg, #f25fd0 0%, #ffb8ee 100%);
} 

.yellow{
  background: linear-gradient(0deg, #e8b426 0%, #feeb71 100%);
} 

.orange{
  background: linear-gradient(0deg, #e89426 0%, #ffa67a 100%);
} 

.brown{
  background: linear-gradient(0deg, #af8130 0%, #eed6a5 100%);
} 

.blue{
  background: linear-gradient(0deg, #4579e8 0%, #85abff 100%);
} 

.dark{
  background: linear-gradient(0deg, #6e294c 0%, #b6588c 100%);
} 

.drake{
  background: linear-gradient(0deg, #33296e 0%, #585ab6 100%);
}

#blackbox{
  position: fixed;
  z-index: 70;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 35, 0.9);
}



.popup_lightbox{
  z-index: 60;
  position: fixed;
  width: 100%;
  height: 100%;
}


.popup_lightbox .content_wrapper{
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.bufferbox{
  position: relative;
  margin-top: -35px;
  margin-left: 50px;
  margin-right: 50px;
  width: 90vw;
  max-width: var(--lightbox_width);
  height: 50px;
  background-color: white;
  border-radius: 35px 35px 0 0;
}

.picturearea{
  position: absolute;
  bottom: 0px;
  background-color: white;
  z-index: 62;
  width: 100%;
}

.lightbox_image{
  position: absolute;
  left: 0px;
  right: 0px;
}

.lightbox_image img{
  user-select: none;
  z-index: 66;
  position: absolute;
  bottom:-25px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
}


.mainarea{  
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
  border-radius: 0 0 35px 35px;
  width: 90vw;
  max-width: var(--lightbox_width);
  height: 425px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.boxhead{
  margin-top: 20px;
  position: relative;
  width: 90vw;
  max-width: var(--lightbox_width);
  height: 400px;
  background-color: white;
  border-radius: 35px 35px 0 0;
  overflow: hidden;
}

.backgoundelement img{
  user-select: none;
  opacity: 0.25;
  position: absolute;
  right: -45px;
  bottom: -25px;
  height: 250px;
  width: 250px;
}

.boxheadname{
  position: absolute;
  padding-left: 20px;
  top: 75px;
  font-weight: 700;
  color: white;
  font-size: 44px; 
}

.boxheadtype ul{
  position: absolute;
  top: 125px;
  left: -20px;
  display: flex;
  flex-direction: row;
  list-style: none;
}


.boxheadtype li{
  margin: 0 8px;
  padding: 5px;
  min-width: 75px;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.boxheadtype li:nth-child(1){
  margin: 0px;
}

.boxheadid{
  position: absolute;
  top: 120px;
  right: 20px;
  color: white;
  font-weight: 600;
  font-size: 21px;
}



.boxheadnav ul{
  list-style: none;
  display: flex;
}

.boxheadnav img{
  opacity: 1;
  width: 26px;
  height: 26px;
  object-fit: contain;
  object-position: center;

}

.boxheadnav li{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding: 7px;
  background-color: rgba(0, 0, 25, 0.1);
}

.boxheadnav li:nth-child(1){
  position: absolute;
  top:25px;
  left:20px;
}

.boxheadnav li:nth-child(2){
  position: absolute;
  top:25px;
  right:75px;
}


.boxheadnav li:nth-child(3){
  position: absolute;
  top:25px;
  right:20px;
}

.boxheadnav li:nth-child(4){
  position: absolute;
  top:25px;
  right:130px;
}


.boxheadnav li:hover{
  transform: scale(1.17);
  background-color: #ffffff;
}

.animation_fadein{
	-webkit-animation: scale-in-center 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.animation_fadeout{
  -webkit-animation: scale-down-center 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.display_none{
  opacity: 0;
  transition: opacity 250ms ease-in-out;

}

.addblur{
  filter: blur(6px);
  transition: filter 250ms ease-in-out;
}

#banner .content_wrapper{
  max-width: 50%;
}

#banner{
  margin-top: 170px;
  margin-bottom: 94px;
}

.banner_boarder{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30vh;
}

.banner_boarder img{
  border-radius: 20px;
  border: 10px solid white;
  outline: 6px solid #8aafd0;
  width: 1024px;
  object-fit: contain;
  object-position: center;
}


.typeMenu ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.flexbutton{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flexbutton img{
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 16px;
  filter: saturate(0%) brightness(400%);
}

.whiteSpace{
  user-select: none;
  margin: 8px;
  color:rgb(70, 70, 150);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 12px;
  border: 3px solid #efefef;
  border-top: none;
  filter: drop-shadow(0px 5px 3px rgba(125,125,255,0.35));
}

.whiteSpace .icon{
  margin-left: 0px;
}


.lightbox_wrapper{
  position: absolute;
  background-color: #ffffff;
  width: 90%;
  height: 425px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}


.infoBox_wrapper h3{
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #2d5576;
  letter-spacing: 3px;
  padding-bottom: 0px;
}

.infoBox_wrapper hr{
  margin: 10px auto 0px auto;
}

.infoBox-content{
  height: 55%;
  color: #2d5576;
  font-size: 18px;
  margin-top: 24px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.infoBox-content div{
  margin-top: 8px;
}

.infoRow{
  display: flex;
  flex-direction: row;
}

.infoCategory{
  font-weight: 600;
  min-width: 125px;
}

.infoBoxNav ul{
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start:0px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  gap:8px;
}

.infoBoxNav li{
  border-radius: 12px;
  background-color: #2d5576;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 10px 8px 10px;
  margin-bottom: 8px;
}

.infoBoxNav li:hover{
  text-decoration: underline;
  cursor: pointer;
}

.boxTextCenter{
  text-align: center;
}

#infoBox-1{
  position: absolute;
  left: 24px;
  background-color: #fff;
  max-height: 500px;
  height: 100%;
  width: calc(100% - 48px);
}

#infoBox-2{
  position: absolute;
  left: 24px;
  background-color: #fff;
  max-height: 500px;
  height: 100%;
  width: calc(100% - 48px);

}

#infoBox-2 .infoRow{
  justify-content:center;

}

#infoBox-2 .infovalue{
  min-width:35px;
}

#infoBox-2 .infoCategory{
  min-width:75%;
}

#myChart{
  margin-top: 36px;
}

#infoBox-3{
  position: absolute;
  left: 24px;
  background-color: #fff;
  max-height: 500px;
  height: 100%;
  width: calc(100% - 48px);
}

.infoBox-content ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  list-style: none;
  background-color: white;
}

.infoBox-content li{
  color: white;;
  margin: 5px;
  padding: 5px 8px;
  border-radius: 8px;
  background-color: #b9bac2;
  list-style: none;
}

#infoBox-4{
  position: absolute;
  left: 24px;
  background-color: #fff;
  max-height: 500px;
  height: 100%;
  width: calc(100% - 48px);

}

.showIndfoAnimation{
  z-index: 26;
  transform: translateX(0);
  transition: translateX 1.235s ease-out;
}

.hideIndfoAnimation{
  z-index: 26;
  transform: translate(500px);
  transition: translate 1.235s ease-in;
}

.centerContent{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}



.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-left {
	-webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


#positionUpper{
  opacity: 1;
  position: absolute;
}

#positionBelow{
  opacity: 1;
  position: absolute;
}



/* ----------------------------------------------
 * Generated by Animista on 2024-3-7 21:26:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}


@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}


@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
}


@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}


 @media(max-width: 1125px){
  .banner_boarder img {
    width: 100%;
    min-height: 250px;
    border-radius: 0;
    object-fit: cover;
    object-position: center;
    border-right: none;
    border-left: none;
  }
}

@media(max-width: 750px){
  .banner_boarder img {
    width: 375px;
    min-height: 250px;
    border-radius: 0;
    object-fit: cover;
    object-position: -50px;
    border: 10px solid white;
    border-radius: 20px;
  }

  .banner_boarder{
  margin-bottom: 250px;
  }
}


@media(max-width: 570px){
  .headarea{
    height: 150px;
    flex-direction: column;
  }
  
  .background{
    top: auto;
    bottom: 0px;
  }

  .logo{
    margin-top: 12px;
    z-index: 99;
  }

  #pokeSearch{
    width: 60vw;
  }

  .seachbar .icon{
    margin-left: 0px;
    padding-left: 0px;
  }

  .whiteSpace{
    text-align: center;
    flex-direction: column;
  }

  .whiteSpace .icon{
    margin: 8px 0px;

  }

  .banner_boarder{
    margin-top:78px;
    margin-bottom: 250px;
    }
}

@media(max-width: 470px){
  .boxheadid{
    top: 175px;
    right: 0;
    left: 25px;
  }

  #infoBox-2 .infoCategory{
    min-width:45%;
  }
}

@media(max-width: 450px){


  #banner{
    margin: 0px;
    margin-top: 150px;
  }
  

  #banner img{
    display: none;
  }

  .whiteSpace{
  padding: 8px 16px
  }

  .banner_boarder{
    margin-top:0px;
    margin-bottom: 0px;
    }

}

@media(max-width: 380px){

  .infoBox-content{
    height: 40%;
  }

}

@media(max-height: 825px){
  .lightbox_image img{
    width: 24vh;
  }
}




